body {
  font-family: 'Livvic-Light';
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Livvic-Light';
  src: url('Livvic-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}

/* LARGER SCREENS */
@media (min-width: 768px) {
  .title-instrucoes {
    width: 400px;
  }
  .txt-instrucoes {
    font-size:2rem;
  }
  .titulo {
    width:250px;
    padding-top:200px;
  }
  #btn-jogar {
    width:160px;
  }
  #btn-instrucoes {
    width:210px;
  }
}

/* SMALL SCREENS */
@media (max-width: 768px) {
  .title-instrucoes {
    width: 80vw;
  }
  .txt-instrucoes {
    font-size:1.6rem;
  }
  .titulo {
    width:58vw;
    padding-top:20vh;
  }
  #btn-jogar {
    width:48vw;
  }
  #btn-instrucoes {
    width:60vw;
  }
}

.fundo {
  height: 100%;
  background-size: auto 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#screen-principal {
  background-image: url(fundo.png);
}

#screen-instrucoes {
  background-image: url(fundo.png);
  display:none;
}

#screen-jogo {
  background-image: url(fundo.png);
  display:none;
}

.titulo {
  display:block;
}

.titulo2 {
  width:25vw;
  display: block;
  padding-top: 100px;
}

#btn-jogar {
  display:block;
  padding-top: 5%;
  cursor: pointer;
}

#btn-instrucoes {
  display:block;
  padding: 0 0 0 1%;
  cursor: pointer;
}

#btn-garrafa {
  cursor: pointer;
  display:block;
  width: 13vw;
}

.btn-menu {
  width:100px;
  position:absolute;
  left: 35px;
  top: 35px;
  cursor: pointer;
}

#div-display {
  width: 100%;
}

#display-txt {
  font-size:3rem;
  color: white;
  padding: 10px 0;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.txt-instrucoes {
  color:white;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.title-instrucoes {
  padding-top: 7em;
  padding-left: 3em;
}
