---
layout: liberalism
---
<h1>Lição 23: Intervencionismo</h1>

<h2>
	<a href="http://www.youtube.com/watch?v=HUfm76neKbk">1. George Reisman - Intervencionismo</a>
</h2>
<p>tipo: vídeo</p>
<p>Percorra este texto e defina o que é intervencionismo e suas principais causas.</p>

<h2>
	<a href="http://www.mises.org.br/Ebook.aspx?id=55">2. Crítica ao intervencionismo</a>
</h2>
<p>tipo: livro</p>
<p>Leia esse livro do Mises e defina no contexto econômico o que foi tal coisa.</p>

<h2>
	<a href="http://www.mises.org.br/Article.aspx?id=570">3. Análises</a>
</h2>
<p>tipo: artigo</p>
<p>Leia esse artigo do Instituto Mises e defina no contexto econômico o que foi tal coisa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, quas, reprehenderit repudiandae vel expedita quos quod sapiente pariatur provident ipsum perferendis corporis suscipit minima possimus quidem nam quasi? Eaque, veritatis.</p>

<h2>
	<a href="http://www.mises.org.br/Article.aspx?id=570">4. Análises</a>
</h2>
<p>tipo: artigo</p>
<p>Leia esse artigo do Instituto Mises e defina no contexto econômico o que foi tal coisa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, quas, reprehenderit repudiandae vel expedita quos quod sapiente pariatur provident ipsum perferendis corporis suscipit minima possimus quidem nam quasi? Eaque, veritatis.</p>

<h2>
	<a href="http://www.mises.org.br/Article.aspx?id=570">5. Análises</a>
</h2>
<p>tipo: artigo</p>
<p>Leia esse artigo do Instituto Mises e defina no contexto econômico o que foi tal coisa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, quas, reprehenderit repudiandae vel expedita quos quod sapiente pariatur provident ipsum perferendis corporis suscipit minima possimus quidem nam quasi? Eaque, veritatis.</p>

<hr>

<div class="row-fluid marketing">
	<div class="span4">
		<img class="gray profile" src="/assets/images/licoes/diogenes.JPG"/>
	</div>
	<div class="span6">Aqui terá um introdução feita pelo próprio autor da lição, com informações sobre o que ele faz e links para entrar em contato. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quis, eos officia accusamus tempora cupiditate blanditiis dolore veritatis! Cupiditate, corporis, officia asperiores dignissimos perspiciatis ratione quibusdam nam repudiandae et esse.</div>
</div>